---
import { SITE, WORK } from '~/config.mjs';

import Layout from '~/layouts/WorkLayout.astro';
import WorkList from '~/components/work/List.astro';
import Pagination from '~/components/atoms/Pagination.astro';

import { fetchPosts } from '~/utils/posts';
import { getCanonical, getPermalink, WORK_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
	if (WORK?.disabled || WORK?.work?.disabled) return [];

	const posts = await fetchPosts();

	return paginate(posts, {
		params: { work: WORK_BASE || undefined },
		pageSize: WORK.postsPerPage,
	});
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
	title: `Work ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink(page.url.current)),
	ogType: "work",
	noindex: currentPage > 1
};
---

<Layout {meta}>
	<Fragment slot="title">
		News and step-by-step guides about
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">AstroWind</span>
	</Fragment>
	<WorkList posts={page.data} />
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
